<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="siderbar">

            <!-- Sidebar  -->
            <nav id="sidebar">

                <!-- Sidebar Header -->
                <div class="sidebar-header text-center">
                    <img src="/css/images/bioscientificaLogo.jpg" class="rounded-circle" id="sideLogo" />
                    <h2 id="bio">Bio</h2><h2 id="scientifica">Scientifica</h2>
                </div>

                <!-- Sidebar Content -->
                <ul class="list-unstyled components">
                    <li class="active">
                        <a th:href="@{/participants}">Users</a>
                    </li>
                    <li>
                        <a href="#analysis" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Analysis</a>
                        <ul class="collapse list-unstyled" id="analysis">
                            <li>
                                <a data-toggle="modal" data-target="#notBuiltModal">Questions</a>
                                <!--<a th:href="@{/questions}">Questions</a>-->
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#notBuiltModal">Paths</a>
                                <!--<a th:href="@{/paths}">Paths</a>-->
                            </li>
                        </ul>
                    </li>
                    <li>
                        <!--<a data-toggle="modal" data-target="#notBuiltModal">Management</a>-->
                        <a th:href="@{management}">Management</a>
                    </li>
                </ul>

            </nav>
            <!-- /Sidebar -->

        </div>

    </body>

</html>