<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<title>Title</title>
</head>
<body>

	<button type="button" class="btn btn-info"><a th:href="@{'map/add'}">+ Map</a></button>

	<table class="table table-striped table-hover" id="maps">
		<thread>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Image</th>
			</tr>
		</thread>
		<tbody>
		<tr th:each="map : ${maps}">
			<td><span th:text="${map.id}">id</span></a></td>
			<td><span th:text="${map.name}"> name</span></a></td>
		</tr>
		</tbody>
	</table>

	<img th:src="@{/image/1}"/>

</body>
</html>