/*************** wrapper / body ************/

.wrapper {/*
    margin-top: 70px;
    display: flex;
    width: 100%;
*/}

body {
    background: #ffffff;
    padding: 30vh;
}

/*********** main content ************/

#content {/*
    width: 100%;
    padding: 40px;
    height:100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
*/}

#logo {
    height: 30vh;
    width: 30vh;
}

#loginDetails {
    padding: 10px;
}

#user {
}
#password {
}

#loginButton {
}
